.DS_Store
.*
*.log
ElasticaSolution/data/SolutionVector2_Feb3
ElasticaSolution/data/SolutionVector2_Dec5.mx
ElasticaSolution/data/SolutionVector2_Dec4.mx
.git/objects/d6/7c788d84d73b554376042bba749e700a4d732e
.git/objects/4a/8ef661d13d28da64fa535e15997cfad6f1aec4
